################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Backend/NoCode.FlowerShop.Api/Properties/launchSettings.json
