################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Backend/NoCode.FlowerShop.Api/Properties/launchSettings.json
Backend/.idea/.idea.NoCode.FlowerShop/.idea/.name
Backend/.idea/.idea.NoCode.FlowerShop/.idea/encodings.xml
Backend/.idea/.idea.NoCode.FlowerShop/.idea/indexLayout.xml
Backend/.idea/.idea.NoCode.FlowerShop/.idea/misc.xml
Backend/.idea/.idea.NoCode.FlowerShop/.idea/vcs.xml
